@page "/CreateEmployee"

@inherits CreateEmployeeBase

@inject IJSRuntime _jsRuntime

@code {
    protected override async Task OnInitializedAsync()
    {
        await _jsRuntime.InvokeVoidAsync("homeController.setActiveNavBar", "navItemEmployee");
        await OnCreateEmployeeLoad();
        await _jsRuntime.InvokeVoidAsync("homeController.hideLoadingIndicator", "");
    }
}
<NavMenu></NavMenu>

<h3>Create Employee</h3>