@inherits DashboardBase
@inject IJSRuntime JsRuntime

<div class="row">
    <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="card text-white bg-info mb-3" style="width:500px;">
            <div class="card-header d-flex justify-content-start pt-1 pb-1" style="font-size: 20px;">Claim-A</div>
            <div class="card-body pt-2 pb-2">
                <h5 class="card-title" style="font-size:50px">@ClaimsDashboardDTOResModel.ClaimsACount</h5>
                <p class="card-text">Claims Submitted</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="card text-white bg-info mb-3" style="width:500px;">
            <div class="card-header d-flex justify-content-start pt-1 pb-1" style="font-size: 20px;">Claim-A</div>
            <div class="card-body pt-2 pb-2">
                <h5 class="card-title" style="font-size:50px">56</h5>
                <p class="card-text">Claims Submitted</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center d-flex justify-content-center">
        <div class="card text-white bg-info mb-3" style="width:500px;">
            <div class="card-header d-flex justify-content-start pt-1 pb-1" style="font-size: 20px;">Claim-A</div>
            <div class="card-body pt-2 pb-2">
                <h5 class="card-title" style="font-size:50px">56</h5>
                <p class="card-text">Claims Submitted</p>
            </div>
        </div>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {

        await JsRuntime.InvokeVoidAsync("homeController.showLoadingIndicator", "");

        await OnDashboardLoad();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("homeController.hideLoadingIndicator", "");
    }
}